In [36]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from PythonScripts import wrangle

from scipy import stats

## Wrangle Data

In [2]:
df = wrangle.get_curriculum_log()

In [3]:
df.head()

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP

In [4]:
df.shape

(954312, 11)

In [5]:
df.isnull().sum()

endpoint        0
user_id         0
cohort_id       0
source_ip       0
name            0
start_date      0
end_date        0
created_at      0
updated_at      0
program_id      0
program_name    0
dtype: int64

In [6]:
df.sample(5)

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2020-02-26,mysql/users,535,52.0,97.105.19.58,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java
2019-11-17,html-css/css-i/grid/css-grid-in-practice,521,52.0,192.171.117.210,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java
2018-03-16,javascript-i/introduction/primitive-types,131,23.0,97.105.19.61,Ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,2,Java
2020-03-09,/,601,56.0,12.106.208.194,Apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,2,Java
2018-06-15,jquery/personal-site,118,23.0,97.105.19.61,Ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,2,Java

In [7]:
florence_cohort = df[df['name'] == "Florence"]
florence_cohort.sample(5)

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2021-03-19,cli/overview,910,137.0,69.232.101.215,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science
2021-03-16,appendix/professional-development/linkedin-tips,908,137.0,68.206.160.11,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science
2021-04-06,python/data-types-and-variables,910,137.0,69.232.101.215,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science
2021-05-19,classification/user-defined-functions,895,137.0,96.8.253.119,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science
2021-06-02,stats/simulation,900,137.0,67.11.226.248,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science

## Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [8]:
# take a look at the value counts for program name
df.program_name.value_counts()

Java            791196
Data Science    122001
PHP              41110
Front End            5
Name: program_name, dtype: int64

In [9]:
df.program_id.value_counts()

2    791196
3    122001
1     41110
4         5
Name: program_id, dtype: int64

In [10]:
# take a look at endpoint values per PHP
df[df.program_name=='PHP'].endpoint.value_counts().head(3)

/               1869
javascript-i    1144
index.html      1011
Name: endpoint, dtype: int64

In [11]:
# take a look at endpoint values per Java
df[df.program_name=='Java'].endpoint.value_counts().head(3)

/               38763
javascript-i    19280
toc             19221
Name: endpoint, dtype: int64

In [12]:
# take a look at endpoint values per Data Science
df[df.program_name=='Data Science'].endpoint.value_counts().head(3)

/                           9866
search/search_index.json    2950
classification/overview     2455
Name: endpoint, dtype: int64

In [13]:
# take a look at endpoint values per Front End
df[df.program_name=='Front End'].endpoint.value_counts().head(3)

content/html-css                      2
/                                     1
content/html-css/introduction.html    1
Name: endpoint, dtype: int64

### The programs are most attracted to lessons as follows:
- PHP (1) most visited: Java
- Java (2) most visited: Javascipt
- Data Science (3) most visited: Classification Overview
- Front End (4) most visited: HTML CSS

## Which lessons are least accessed?

In [49]:
# take a look at the value counts of each endpoint site
df.endpoint.value_counts()

/                                      50499
javascript-i                           20434
search/search_index.json               20220
toc                                    19632
html-css                               14772
                                       ...
10-nlp/2-regular-expressions               1
sql.mysql-overview                         1
teams                                      1
javascript-i/intruduction/operators        1
appendix/javascript/array-splice           1
Name: endpoint, Length: 2315, dtype: int64

In [74]:
# look at the bottom of the list of visited endpoints

# looking at the bottom five sites for more than 2 visits
(df.endpoint.value_counts(ascending=True)>2).index.tolist()[:5]

['appendix/javascript/array-splice',
 'javascript-i/intruduction/operators',
 'teams',
 'sql.mysql-overview',
 '10-nlp/2-regular-expressions']

- But what is our sweet spot? Is it 3 visits? Is it 10 visits?
- Using an outlier function to pinpoint will be the best method to reduce the noise and see which number represents legitimate visits and what is considered low.

In [50]:
# make it into a dataframe for coding purposes
endpoints = pd.DataFrame(df.endpoint.value_counts())
endpoints

                                     endpoint
/                                       50499
javascript-i                            20434
search/search_index.json                20220
toc                                     19632
html-css                                14772
...                                       ...
10-nlp/2-regular-expressions                1
sql.mysql-overview                          1
teams                                       1
javascript-i/intruduction/operators         1
appendix/javascript/array-splice            1

[2315 rows x 1 columns]

In [40]:
def get_lower_and_upper_bounds(df, k=1.5):
    '''
    calculates the lower and upper bound to locate outliers and displays them
    note: recommended k be 1.5
    '''
    for i in df.columns:
        if df[i].dtypes != 'object':
            quartile1, quartile3 = np.percentile(df[i], [25,75])
            IQR_value = quartile3 - quartile1
            lower_bound = (quartile1 - (k * IQR_value))
            upper_bound = (quartile3 + (k * IQR_value))
            print('------------------------------------------------------')
            print(f'For {i} the lower bound is {lower_bound} and  upper bound is {upper_bound}')
            outliers_lower = df[df[i] < lower_bound]
            outliers_upper = df[df[i] > upper_bound]
            outliers = pd.concat([outliers_lower, outliers_upper], axis=0)
            print('')
            print(outliers,'\n')
    else:
        print('')

In [65]:
# use function to see what the bounds are for sites visited
get_lower_and_upper_bounds(endpoints, k=1.5)

------------------------------------------------------
For endpoint the lower bound is -127.0 and  upper bound is 217.0

                                                    endpoint
/                                                      50499
javascript-i                                           20434
search/search_index.json                               20220
toc                                                    19632
html-css                                               14772
...                                                      ...
3.0-mysql-overview                                       219
2-storytelling/2.2-create                                219
10-anomaly-detection/3-discrete-probabilistic-m...       219
sql/clauses-overview                                     219
individual-project/individual-project                    218

[439 rows x 1 columns]

- This function tells us 217 or more visits are legitimate visits.
- Anything below 217 is likely noise, accidental clicks etc..
- We can isolate the bottom part of the list for more than 217 visits.

In [48]:
# pull the bottom visited sites filtering by more than 217 visits
df.endpoint.value_counts().reset_index(name='count').query('count > 217')['index'].tolist()[-6:]

['8-clustering/5.1-kmeans-part-1',
 '3.0-mysql-overview',
 '2-storytelling/2.2-create',
 '10-anomaly-detection/3-discrete-probabilistic-methods',
 'sql/clauses-overview',
 'individual-project/individual-project']

### Takeaways:
- Most of the lower visited sites are all data science sites.
- This makes sense because there are less data science students and it is a newer program.

In [75]:
df.head()

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP
2018-01-26,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1,PHP

In [79]:
df.groupby('user_id')

In [ ]:
np.where(df.start_date)

In [82]:
df.dtypes

endpoint         object
user_id           int64
cohort_id       float64
source_ip        object
name             object
start_date       object
end_date         object
created_at       object
updated_at       object
program_id        int64
program_name     object
dtype: object