In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from PythonScripts import wrangle

## Wrangle Data

In [2]:
df = wrangle.get_curriculum_log()

In [3]:
df.head()

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1
2018-01-26,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1

In [4]:
df.shape

(954313, 10)

In [5]:
df.isnull().sum()

endpoint      1
user_id       0
cohort_id     0
source_ip     0
name          0
start_date    0
end_date      0
created_at    0
updated_at    0
program_id    0
dtype: int64

In [31]:
df.sample(5)

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id
date,,,,,,,,,,
2020-10-21,classification/overview,689,59.0,72.181.127.233,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3
2020-02-15,/,64,28.0,76.187.118.255,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,2
2021-05-27,javascript-i/javascript-with-html,877,135.0,70.117.148.31,Marco,2021-01-25,2021-07-19,2021-01-20 21:31:11,2021-01-20 21:31:11,2
2018-08-16,javascript-i/objects,223,25.0,97.105.19.58,Wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,2
2020-01-29,content/php_ii/control-structures-i,419,17.0,72.181.98.75,Olympic,2017-02-06,2017-05-25,2017-02-06 17:49:10,2017-02-06 17:49:10,1

In [30]:
florence_cohort = df[df['name'] == "Florence"]
florence_cohort.sample(5)

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id
date,,,,,,,,,,
2021-03-16,fundamentals/intro-to-data-science,909,137.0,96.8.130.96,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3
2021-06-04,sql/mysql-overview,896,137.0,162.205.226.39,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3
2021-03-19,fundamentals/cli/creating-files-and-directories,901,137.0,173.174.148.202,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3
2021-04-23,python/intro-to-seaborn,908,137.0,68.206.160.11,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3
2021-03-30,sql/case-statements,898,137.0,99.147.232.101,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3

### Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [11]:
df.endpoint.value_counts()

/                                                        50499
javascript-i                                             20434
search/search_index.json                                 20220
toc                                                      19632
html-css                                                 14772
                                                         ...
wrangle                                                      1
regression/project/null                                      1
9_Anomaly_Detection                                          1
slides/threads                                               1
appendix/further-reading/css-grid-additional-features        1
Name: endpoint, Length: 2315, dtype: int64

In [19]:
df.groupby('program_id').endpoint.value_counts()

program_id  endpoint
1           /                                              1869
            javascript-i                                   1144
            index.html                                     1011
            html-css                                        979
            javascript-i/javascript-with-html               832
                                                           ...
3           wrangle                                           1
4           content/html-css                                  2
            /                                                 1
            content/html-css/gitbook/images/favicon.ico       1
            content/html-css/introduction.html                1
Name: endpoint, Length: 3487, dtype: int64

In [49]:
df.groupby('program_id').endpoint.agg('count').sort_values()

program_id
4         5
1     41110
3    122001
2    791196
Name: endpoint, dtype: int64