In [1]:
import numpy as np
import pandas as pd

from PythonScripts import wrangle

In [2]:
df = wrangle.get_curriculum_log()

In [3]:
df.isna().sum()

endpoint        0
user_id         0
cohort_id       0
source_ip       0
name            0
start_date      0
end_date        0
created_at      0
updated_at      0
program_id      0
program_name    0
dtype: int64

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 954312 entries, 2018-01-26 to 2021-07-15
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   endpoint      954312 non-null  object
 1   user_id       954312 non-null  int64
 2   cohort_id     954312 non-null  float64
 3   source_ip     954312 non-null  object
 4   name          954312 non-null  object
 5   start_date    954312 non-null  datetime64[ns]
 6   end_date      954312 non-null  datetime64[ns]
 7   created_at    954312 non-null  datetime64[ns]
 8   updated_at    954312 non-null  object
 9   program_id    954312 non-null  int64
 10  program_name  954312 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(2), object(5)
memory usage: 87.4+ MB

date
2018-01-26    2016
2018-01-26    2016
2018-01-26    2016
2018-01-26    2016
2018-01-26    2016
              ...
2021-07-15    2021
2021-07-15    2021
2021-07-15    2021
2021-07-15    2021
2021-07-15    2021
Name: end_date, Length: 954312, dtype: int64

In [41]:
#6 what topics are grads continuing to access after graduation? and into there jobs for each program
df.loc[(df.program_name == 'Data Science') & (df.updated_at > df.end_date)].value_counts().head(10)

Series([], dtype: int64)

In [98]:
df.loc[(df.program_name == 'PHP') & (df.updated_at > df.end_date)].endpoint.value_counts()[1:].head(20)

javascript-i                                                                 759
javascript-i/javascript-with-html                                            709
html-css                                                                     709
javascript-i/introduction/working-with-data-types-operators-and-variables    485
html-css/css-ii/bootstrap-grid-system                                        387
javascript-i/introduction/operators                                          387
jquery                                                                       385
javascript-i/functions                                                       379
javascript-ii                                                                348
toc                                                                          340
javascript-i/loops                                                           323
html-css/css-ii/bootstrap-introduction                                       307
html-css/elements                                                            303
javascript-i/conditionals                                                    303
html-css/forms                                                               293
html-css/css-ii/media-queries                                                283
spring                                                                       272
html-css/css-i/box-model                                                     251
html-css/css-i/positioning                                                   248
java-ii                                                                      247
Name: endpoint, dtype: int64

In [58]:
df.loc[(df.program_name == 'Java') & (df.updated_at > df.end_date)].endpoint.value_counts()[2:].head(20)

javascript-i                                2792
spring                                      2289
html-css                                    2247
java-iii                                    2219
java-ii                                     2093
toc                                         1934
appendix                                    1827
javascript-ii                               1599
java-i                                      1577
jquery                                      1564
mysql                                       1495
jquery/ajax/weather-map                     1292
classification/overview                     1160
sql/mysql-overview                          1066
classification/scale_features_or_not.svg    1028
spring/fundamentals/repositories            1025
java-iii/servlets                            965
spring/fundamentals/views                    899
java-iii/jsp-and-jstl                        839
mysql/tables                                 809
Name: endpoint, dtype: int64

In [53]:
df.loc[(df.program_name == 'Front End') & (df.updated_at > df.end_date)].endpoint.value_counts().head(10)

content/html-css                               2
/                                              1
content/html-css/introduction.html             1
content/html-css/gitbook/images/favicon.ico    1
Name: endpoint, dtype: int64

In [275]:
#5 at some point in 2019 the ability for students to access both curriculums was deprecated, do you see evidence of that happening, did it happen before?

##classes in 2020 and greater can only access there specific stuff 
java_list = df[(df['program_name'] == 'Java') & (df.start_date.dt.year >= 2020)].endpoint.unique().tolist()

ds_list = df[(df['program_name'] == 'Data Science') & (df.start_date.dt.year >= 2020)].endpoint.unique().tolist()

#look at common pages visited for both these cohorts to filter by
common_list = []
for j in java_list:
    for d in ds_list:
        if j == d:
            common_list.append(j)

In [276]:
#data science students who accessed the webdev cirrculum before swi
ds_in_web = df.loc[(df['program_name'] == 'Data Science') & (df['endpoint'].isin(java_list)) & (~df['endpoint'].isin(common_list))]

In [277]:
#web dev students who accessed the ds curriculum before switch
web_in_ds = df.loc[(df['program_name'] == 'Java') & (df['endpoint'].isin(ds_list)) & (~df['endpoint'].isin(common_list))]

In [280]:
#data science students who accessed web dev curriculum after the 2019 switch
ds_in_web['2020':]

Empty DataFrame
Columns: [endpoint, user_id, cohort_id, source_ip, name, start_date, end_date, created_at, updated_at, program_id, program_name]
Index: []

In [283]:
web_in_ds.loc['2020':]

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2020-01-01,4-python/7.2-intro-to-matplotlib,18,22.0,45.20.117.182,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2,Java
2020-11-10,classification/overview,20,22.0,104.190.242.242,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2,Java
2020-11-10,classification/scale_features_or_not.svg,20,22.0,104.190.242.242,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2,Java
2020-11-10,sql/database-design,20,22.0,104.190.242.242,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2,Java
2018-02-26,appendix/postwork,15,21.0,173.239.232.81,Sequoia,2017-09-27,2018-02-15,2017-09-27 20:22:41,2017-09-27 20:22:41,2,Java
...,...,...,...,...,...,...,...,...,...,...,...
2020-11-17,nlp/acquire,495,51.0,72.191.58.18,Deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,2,Java
2020-01-18,1-fundamentals/1.3-pipeline-demo,64,52.0,76.187.118.255,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java
2020-01-18,1-fundamentals/1.3-pipeline-demo,64,52.0,76.187.118.255,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java
2020-01-18,1-fundamentals/1.3-pipeline-demo,64,52.0,76.187.118.255,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java
2020-01-18,1-fundamentals/1.3-pipeline-demo,64,52.0,76.187.118.255,Europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,2,Java