In [1]:
import numpy as np
import pandas as pd

from PythonScripts import wrangle

In [2]:
df = wrangle.get_curriculum_log()

In [3]:
df.isna().sum()

endpoint        0
user_id         0
cohort_id       0
source_ip       0
name            0
start_date      0
end_date        0
created_at      0
updated_at      0
program_id      0
program_name    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 954312 entries, 2018-01-26 to 2021-07-15
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   endpoint      954312 non-null  object
 1   user_id       954312 non-null  int64
 2   cohort_id     954312 non-null  float64
 3   source_ip     954312 non-null  object
 4   name          954312 non-null  object
 5   start_date    954312 non-null  datetime64[ns]
 6   end_date      954312 non-null  datetime64[ns]
 7   created_at    954312 non-null  datetime64[ns]
 8   updated_at    954312 non-null  object
 9   program_id    954312 non-null  int64
 10  program_name  954312 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(2), object(5)
memory usage: 87.4+ MB

In [41]:
#6 what topics are grads continuing to access after graduation? and into there jobs for each program
df.loc[(df.program_name == 'Data Science') & (df.updated_at > df.end_date)].value_counts().head(10)

Series([], dtype: int64)

In [98]:
df.loc[(df.program_name == 'PHP') & (df.updated_at > df.end_date)].endpoint.value_counts()[1:].head(20)

javascript-i                                                                 759
javascript-i/javascript-with-html                                            709
html-css                                                                     709
javascript-i/introduction/working-with-data-types-operators-and-variables    485
html-css/css-ii/bootstrap-grid-system                                        387
javascript-i/introduction/operators                                          387
jquery                                                                       385
javascript-i/functions                                                       379
javascript-ii                                                                348
toc                                                                          340
javascript-i/loops                                                           323
html-css/css-ii/bootstrap-introduction                                       307
html-css/elements                                                            303
javascript-i/conditionals                                                    303
html-css/forms                                                               293
html-css/css-ii/media-queries                                                283
spring                                                                       272
html-css/css-i/box-model                                                     251
html-css/css-i/positioning                                                   248
java-ii                                                                      247
Name: endpoint, dtype: int64

In [58]:
df.loc[(df.program_name == 'Java') & (df.updated_at > df.end_date)].endpoint.value_counts()[2:].head(20)

javascript-i                                2792
spring                                      2289
html-css                                    2247
java-iii                                    2219
java-ii                                     2093
toc                                         1934
appendix                                    1827
javascript-ii                               1599
java-i                                      1577
jquery                                      1564
mysql                                       1495
jquery/ajax/weather-map                     1292
classification/overview                     1160
sql/mysql-overview                          1066
classification/scale_features_or_not.svg    1028
spring/fundamentals/repositories            1025
java-iii/servlets                            965
spring/fundamentals/views                    899
java-iii/jsp-and-jstl                        839
mysql/tables                                 809
Name: endpoint, dtype: int64

In [53]:
df.loc[(df.program_name == 'Front End') & (df.updated_at > df.end_date)].endpoint.value_counts().head(10)

content/html-css                               2
/                                              1
content/html-css/introduction.html             1
content/html-css/gitbook/images/favicon.ico    1
Name: endpoint, dtype: int64

In [200]:
#5 at some point in 2019 the ability for students to access both curriculums was deprecated, do you see evidence of that happening, did it happen before?

##classes in 2020 can only access there specific stuff 
java_list = df[(df['program_name'] == 'Java') & (df.start_date.year > 2020)].endpoint.unique().tolist()

ds_list = df[(df['program_name'] == 'Data Science') & (df.start_date.year == 'Easley')].endpoint.unique().tolist()

#look at common pages visited for both these cohorts to filter by
common_list = []
for j in java_list:
    for d in ds_list:
        if j == d:
            common_list.append(j)

In [202]:
#data science students who accessed the webdev cirrculum 
ds_in_web = df.loc[(df['program_name'] == 'Data Science') & (df['endpoint'].isin(java_list)) & (~df['endpoint'].isin(common_list)) & (~df['endpoint'].str.contains('appendix'))]

In [203]:
#web dev students who accessed the ds curriculum
web_in_ds = df.loc[(df['program_name'] == 'Java') & (df['endpoint'].isin(ds_list)) & (~df['endpoint'].isin(common_list)) & (~df['endpoint'].str.contains('appendix'))]

In [204]:
#data science students who accessed web dev curriculum prior to 2019
ds_in_web['2020':]

,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,created_at,updated_at,program_id,program_name
date,,,,,,,,,,,
2020-05-19,java-ii/object-oriented-programming,590,55.0,130.45.47.56,Curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,3,Data Science
2020-11-19,spring,581,55.0,70.112.179.142,Curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,3,Data Science
2020-11-09,mysql,694,59.0,96.8.130.240,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2020-11-09,toc,680,59.0,136.50.56.155,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2020-11-09,toc,680,59.0,136.50.56.155,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-01-18,mysql,785,59.0,72.181.127.233,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-01-18,mysql,691,59.0,66.69.67.230,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-01-18,mysql,785,59.0,72.181.127.233,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-01-18,mysql,698,59.0,24.28.148.238,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-01-18,mysql,785,59.0,72.181.127.233,Darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,3,Data Science
2021-03-24,databases,949,137.0,136.49.16.164,Florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,3,Data Science

In [206]:
web_in_ds['2020':]

AssertionError: <class 'numpy.ndarray'>